@using ASPCourseRegistrationApp.Models

@model IEnumerable<Course> 

@{
}

<div class="text-center">
    <h1 class="display-4 mb-5">Register For Courses</h1>
</div>

<div class="course-list mt-5">
    @foreach (Course course in Model)
    {
        string formattedStartTime = course.StartTime.HasValue ? course.StartTime.Value.ToString("h:mmtt").ToLower() : null;
        string formattedEndTime = course.EndTime.HasValue ? course.EndTime.Value.ToString("h:mmtt").ToLower() : null;

        <div class="course-card">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="course-card__title">
                        @course.CourseName
                    </h3>
                </div>
                <div class="col-md text-md-right">
                    <span class="badge badge-primary">Physical Education</span>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 font-weight-bold">
                    @if (course.Instructor != null)
                    {
                        @(course.Instructor.FirstName + " " + course.Instructor.LastName)
                    }

                </div>
                <div class="col-md-6 font-weight-bold">
                    @course.CourseCode
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @if(course.StartTime.HasValue && course.EndTime.HasValue)
                    {
                        @(formattedStartTime + " - " + formattedEndTime)
                    }
                    
                </div>
                <div class="col-md-6">
                    @course.Location
                </div>
            </div>
        </div>
    }
</div>

<style>
    .course-card {
        position: relative;
        cursor: pointer;
        padding: 20px;
        border: 1px solid #dee2e6;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);

        -webkit-transition: background 0.2s ease;
        -moz-transition: background 0.2s ease;
        -ms-transition: background 0.2s ease;
        -o-transition: background 0.2s ease;
        transition: background 0.2s ease;
    }
        .course-card:hover {
            background-color: #e6ecf2;
        }
        .course-card.selected {
           border-top: 5px solid lime;
            
        }
</style>